.container_left{
  width:250px;
  height:100%;
}

.container_right{
  width:calc(100% - 250px);
  height:100%;
}

.d_flex{
  display: flex;
  height: 100%;
}

.navar_bar{
  width:100%;
  height:60px;
  background-color:blueviolet;
}

.container{
  width:100%;
  height:calc(100% - 60px);
  background-color:green;
}

.logo{
  width:100%;
  height:60px;
  background-color: aliceblue;
}

.menu_list{
  width:100%;
  height:calc(100% - 60px);
  background-color:red;
}